!!! 5
%html
	%head
		%title BaseInstall
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;"}
		%meta{:charset => "utf-8"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/cordova-1.5.0.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/jquery-1.7.2.min.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/underscore-min.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/backbone-min.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/jqtouch-jquery.min.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/jqtouch.min.js"}

		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-transition.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-alert.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-modal.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-dropdown.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-scrollspy.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-tab.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-tooltip.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-popover.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-button.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-collapse.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-carousel.js"}
		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/addons/bootstrap-typeahead.js"}

		%script{:type => "text/javascript", :charset => "utf-8", :src => "js/application.js"}

		%link{:rel => "stylesheet", :type => "text/css", :href => "css/application.css"}
	%body
		#jqt
			#home{:class => 'current'}
				#div{:class => 'navbar navbar-fixed-top'}
					#div{:class => 'navbar-inner navbar-text'}
						hi
				#container
					%header
						%h1 Hello
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.
					%p This is some text.

					%a{:href => '#test', :class => 'btn'} 
						Click me
			#test
				Hi